<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../../static/css/style.css">

</head>
    <body>
        <script src="../../static/script.js"></script>
        <div id="header">

        </div>
        <div id="chats">
            <input type="text" name="search" id="search" value="Search">
            <div id="chats_conteiner">
                <div class="chat_conversation">
                    <img src="../../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya21111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>


            </div>
        </div>
         
        <div id="chat">

        </div>
        <div id="setting">

        </div>
    </body>
</html>