<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="register">
        <form method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <label for="password">First name</label>
            <br>
            <input type="text" name="first_name" id="first_name">
            <label for="last_name">Last name</label>
            <input type="text" name="last_name" id="last_name">
            <label for="nickname">Nickname</label>
            <input type="text" name="nickname" id="nickname">
            <input type="submit" value="Register">
            <a href="">Log in</a>
        </form>
    </div>
</body>
</html>