<!DOCTYPE html>
<html lang="en">
{% if error != None %}
<script> alert("{{error}}"); </script>
{% set error = None %}
{% endif %}
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<script>
function cheng_password_type() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
    <div id="register" class="auth">
        <form method="post">
            <div class="form">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="nickname">Nickname</label>
            <input type="text" name="nickname" id="nickname">
            <label for="password">Password</label>
            <div id="password_container"><input type="password" name="password" id="password"><img id="eye" src="../../static/imgs/user_icon.png" onclick="cheng_password_type()"></div>
            </div>
            <div class="form">
            <label for="first_name">First name</label>
            <input type="text" name="first_name" id="first_name">
            <label for="last_name">Last name</label>
            <input type="text" name="last_name" id="last_name">
            <input type="submit" value="Register">
            <a href="">Log in</a>
            </div>
        </form>

</body>
</html>