<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check inbox</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check inbox</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div id="activation_container">
    <h1 id="activation_text">{{ activation_outcome }}</h1>
<a class="btn_link" href="/auth/login">Login</a><a class="btn_link" href="/auth/register">Register</a></div>
</body>
</html>
