<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<script>
function cheng_password_type() {
  let x = document.getElementById("password");
  let y = document.getElementById("eye");
  if (x.type === "password") {
    x.type = "text";
    y.src = "../static/imgs/hide-password-icon.png";
  } else {
    x.type = "password";
    y.src = "../static/imgs/show-password-icon.png";
  }
}
</script>
    <div id="login" class="auth">
        <div class="form">
        <form method="post">
            <label for="email_or_nickname">Email/Nickname</label>
            <input type="text" name="email_or_nickname" id="email_or_nickname">
            <label for="password">Password</label>
            <div id="password_container"><input type="password" name="password" id="password"><img id="eye" src="../static/imgs/show-password-icon.png" onclick="cheng_password_type()"></div>

            <input type="submit" value="Log in">
            <a href="/register">Register</a>

        </form>
        </div>
    </div>
</body>
</html>
</body>
</html>