<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type="text/javascript"  charset="utf-8">
        $(document).ready(function() {

            const socket = io();
            
            socket.on('connect', function() {
                alert('yes');
            });
        })
    </script>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
    <body>
        <script>

            function ch_theme() {
        let img = document.getElementById("btn_ch_theme");
        let root = document.documentElement;
        if (img.src.includes("sun.png")) {
            root.style.setProperty('--haiti', '#5D7A8C');
            root.style.setProperty('--casper', '#223440');
            root.style.setProperty('--concrete', '#1D1340');
            root.style.setProperty('--maringova_bruise', '#BACBD9');
            root.style.setProperty('--lesya_Ukraine', '#F2F2F2');

            img.src = "../static/imgs/moon.png";
        } else {
            img.src = "../static/imgs/sun.png";
            root.style.setProperty('--haiti', '#1D1340');
            root.style.setProperty('--casper', '#BACBD9');
            root.style.setProperty('--concrete', '#F2F2F2');
            root.style.setProperty('--maringova_bruise', '#223440');
            root.style.setProperty('--lesya_Ukraine', '#5D7A8C');
        }
}

        </script>
        <div id="header">
            <img id="btn_ch_theme" src="../static/imgs/sun.png" onclick="ch_theme()">
        </div>
        <div id="chats">
            <input type="text" name="search" id="search" value="Search">
            <div id="chats_conteiner">
                <div class="chat_conversation">
                    <img src="../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>

                <div class="chat_conversation">
                    <img src="../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <h3 class="chat_conversation_name">Daryna</h3>
                <h6 class="chat_conversation_nickname">
                    Darya2111
                </h6>
            </div>


            </div>
        </div>
         
        <div id="chat">
            <div class="message">
            <div class="left">rdgylesiuftoyghugyfutyreuw35er567[8u.,,igsggrptf</div></div>
            <div class="message">
            <div class="right">rdgylesiuftoyghugyfutyreuw35er567[8u.,,igsggrptf</div></div>
        </div>

        <div id="setting">

        </div>
        <div id="footer">
        </div>
    </body>
</html>