<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript"  charset="utf-8">
    chatter = 0


        function send_message(){
            var message_ob = document.getElementById("sent_message_input")
            var message = message_ob.value
            message_ob.value = ""

            data = {
                "id": chatter,
                "message": message
            }
            socket.emit('send_message',data)
        }
        var socket = io();
        $(document).ready(function() {

            
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'})
            });
        })
        socket.on('chat_open_responce', function(date)
        {
            var messages = document.getElementsByClassName("message");
            var messagesArray = Array.from(messages);
            messagesArray.forEach(function(message) {
                message.remove();});
            date = date["messages"]
            for(let i =0 ; i < date.length ; i++){
                var messageDiv = document.createElement('div');
                messageDiv.className = 'message';
                var leftDiv = document.createElement('div');
                var textDiv = document.createElement('div');
                textDiv.className = 'text';
                textDiv.innerHTML = date[i].body
                var h6Element = document.createElement('h6');
                h6Element.className = 'data';
                var brElement = document.createElement('br');
                h6Element.appendChild(brElement);
                var data1Div = document.createElement('div');
                data1Div.className = 'data1';
                data1Div.innerHTML = date[i].send_time
                h6Element.appendChild(data1Div);
                if(date[i].message_my){
                    leftDiv.className = 'right';
                    var imgElement = document.createElement('img');
                imgElement.className = 'message_icon';
                if(date[i].viewed){
                    imgElement.src = '../static/imgs/message_read_icon.png';
                } else {
                    imgElement.src = '../static/imgs/message_read_icon.png';
                }
                } else{
                    leftDiv.className = 'left';}

                h6Element.appendChild(imgElement);
                h6Element.appendChild(brElement);
                leftDiv.appendChild(textDiv);
                leftDiv.appendChild(h6Element);
                messageDiv.appendChild(leftDiv);
                var chatContainer = document.getElementById('chat');
                chatContainer.appendChild(messageDiv);
            }
            
        })
    </script>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">


</head>
    <body>

        <script>

        function open_chat(id)
        {
            chatter = id;
            socket.emit('open_chat', {'chat_id': id})
            document.getElementById("sent_message").style.display = 'block';
        }

        function ch_theme() {
        let img = document.getElementById("btn_ch_theme");
        let x = document.cookie;
        let y = x.charAt(6)
        let root = document.documentElement;
        if (y == "1") {
            root.style.setProperty('--haiti', '#e1e5f2');
            root.style.setProperty('--casper', '#1f7a8c');
            root.style.setProperty('--concrete', '#022b3a');
            root.style.setProperty('--maringova_bruise', '#bfdbf7');
            root.style.setProperty('--lesya_Ukraine', '#ffffff');
            document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.cookie = "theme=0";
            img.src = "../static/imgs/moon.png";
        } else {
            img.src = "../static/imgs/sun.png";
            document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.cookie = "theme=1";
            root.style.setProperty('--haiti', '#1D1340');
            root.style.setProperty('--casper', '#BACBD9');
            root.style.setProperty('--concrete', '#F2F2F2');
            root.style.setProperty('--maringova_bruise', '#223440');
            root.style.setProperty('--lesya_Ukraine', '#5D7A8C');
        }
}

        </script>
        <div id="header">
            <img id="logo" src="../static/imgs/connectior-logo.png">
            <img id="btn_ch_theme" src="../static/imgs/sun.png" onclick="ch_theme()">
        </div>
        <div id="chats">
            <input type="text" name="search" id="search" placeholder="Search">
            {% if chats%}
            <div id="chats_conteiner">
                {% for chat in chats%}
                <div class="chat_conversation" onclick="open_chat({{chat['id']}})">
                    <img src="../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <div class="chat_conversation_text"><p class="chat_conversation_name">{{chat.chat_name}}</p>
                        <p class="last_message">{{chat.last_message}}</p></div><h1 class="is_in_internet">.</h1></div>
                    {%endfor%}
            </div>
            {% else %}
            <p id="is_nothing_found">Nothing found</p>
            {% endif %}
        </div>

        <div id="chat">
            <div id="sent_message">
                <div id="smiles_conteiner">

                </div>
                <input name="sent_message" id="sent_message_input" placeholder="your message"><input value="" type="button" onclick="send_message()" id="sent_message_icon">
            </div>

            </div>
        <div id="setting">
            <img id="setting_icon" src="../static/imgs/user_icon.png">
            <p class="setting_txt">First name: {{current_user_info.first_name}}</p>
            <p class="setting_txt">Last name: {{current_user_info.last_name}}</p>
            <p class="setting_txt">Nickname: {{current_user_info.nickname}}</p>
            <p class="setting_txt">Email:{{current_user_info.email}} </p>
            <p class="setting_txt"><a href="{{ logout_url}}">Log out</a></p>
        </div>
    <script>
        let x = document.cookie;
        if(x == '')
            document.cookie = "theme=1";
        let y = x.charAt(6)
        if(y =='0')
        {
            document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.cookie = "theme=1";
            ch_theme();}


        var inputElement1 = document.getElementById('search');
        var inputElement2 = document.getElementById('sent_message_input');
        if (inputElement1) { 
            inputElement1.addEventListener('keydown', function(event) {
        if (event.keyCode === 13) {
            console.log(inputElement1.value)
        }
        });
        } else {
            console.error('Елемент з id "search" не знайдений.');
        }
        if (inputElement2) {
            inputElement2.addEventListener('keydown', function(event) {
        if (event.keyCode === 13) {
            send_message()
        }
        });}
        var emojis = ['😊', '😂', '😍', '😘', '😁', '🙂', '🤣', '😎', '🥰', '🥳', '🤩', '😄', '🤗', '🤭', '😇', '🤔', '🙃', '😋', '😆', '😏', '😜', '😝', '😤', '😢', '😭', '😱', '😳', '😬', '😵', '🤯', '🥺', '😷', '🤒', '🤕', '🤢', '🤮', '🤧', '🥴', '🤠', '🥱', '😴', '😪', '🤤', '😈', '👿', '👻', '💀', '☠️', '👽', '🤖'];

        var container = document.getElementById('smiles_conteiner');


emojis.forEach(function(emoji) {
    var div = document.createElement('div');
    div.className = 'smile';
    div.textContent = emoji;
    div.setAttribute('onclick', 'add_smile(this)');
    container.appendChild(div);
});
function add_smile(this_element){
              document.getElementById("sent_message_input").value += this_element.innerHTML
          }
    </script>
    </body>
</html>