<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript"  charset="utf-8">
        $(document).ready(function() {

            var socket = io();
            
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'})
            });
        })
    </script>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">


</head>
    <body>
        <script>
        function open_chat(id) {
            alert(id);
            io().emit('open_chat',{'chat_id':id});
            return false
        }
        function ch_theme() {
        let img = document.getElementById("btn_ch_theme");
        let x = document.cookie;
        let y = x.charAt(6)
        let root = document.documentElement;
        if (y == "1") {
            root.style.setProperty('--haiti', '#e1e5f2');
            root.style.setProperty('--casper', '#1f7a8c');
            root.style.setProperty('--concrete', '#022b3a');
            root.style.setProperty('--maringova_bruise', '#bfdbf7');
            root.style.setProperty('--lesya_Ukraine', '#ffffff');
            document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.cookie = "theme=0";
            img.src = "../static/imgs/moon.png";
        } else {
            img.src = "../static/imgs/sun.png";
            document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.cookie = "theme=1";
            root.style.setProperty('--haiti', '#1D1340');
            root.style.setProperty('--casper', '#BACBD9');
            root.style.setProperty('--concrete', '#F2F2F2');
            root.style.setProperty('--maringova_bruise', '#223440');
            root.style.setProperty('--lesya_Ukraine', '#5D7A8C');
        }
}

        </script>
        <div id="header">
            <img id="logo" src="../static/imgs/connectior-logo.png">
            <img id="btn_ch_theme" src="../static/imgs/sun.png" onclick="ch_theme()">
        </div>
        <div id="chats">
            <input type="text" name="search" id="search" placeholder="Search">
            {% if chats%}
            <div id="chats_conteiner">
                {% for chat in chats%}
                <div class="chat_conversation" onclick="open_chat({{chat['id']}})">
                    <img src="../static/imgs/user_icon.png" class="chat_conversation_img" alt="">
                    <div class="chat_conversation_text"><p class="chat_conversation_name">{{chat.chat_name}}</p>
                        <p class="last_message">{{chat.last_message}}</p></div></div>
                    {%endfor%}
            </div>
            {% else %}
            <p id="is_nothing_found">Nothing found</p>
            {% endif %}
        </div>

        <div id="chat">
            <div id="sent_message">
                <form action="post">
                    <input name="sent_message" id="sent_message_input" placeholder="your message"><input value="" type="submit" id="sent_message_icon">
                </form>
            </div>
            <div class="message">
            <div class="left">Жо́вква — місто в Україні з населенням 13 тисяч мешканців у північній частині Львівського району, центр громади. Поселення засноване у 1368 році. Міські права отримало 1603 року. Відоме як місто ремісників. У XVII столітті Жовква була резиденцією короля Речі Посполитої Яна III Собеського. Наприкінці XVII — на початку XVIII століть славилася художня школа і школа різьблення по дереву.<h6 class="data"><br>27-11-23<img class="message_icon" src="../static/imgs/message_read_icon.png" >
                </h6></div></div>
            <div class="message">
                <div class="right">f <h6 class="data"><br>27-11-23 <img class="message_icon" src="../static/imgs/message_read_icon.png" ></h6></div>
            </div></div>
        <div id="setting">
            <img id="setting_icon" src="../static/imgs/user_icon.png">
            <p class="setting_txt">Name: kjxk,h</p>
            <p class="setting_txt">First name: rkufci</p>
            <p class="setting_txt">Last name: ehrmj</p>
            <p class="setting_txt">Nickname: hhaj</p>
            <p class="setting_txt">Email: ztkjhgd</p>
            <p class="setting_txt"><a href="">Log out</a></p>
        </div>
    <script>
        let x = document.cookie;
        if(x == '')
            document.cookie = "theme=1";
        let y = x.charAt(6)
        if(y =='0')
        {
            document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.cookie = "theme=1";
            ch_theme();
        }
    </script>
    </body>
</html>