<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

{% if error != None %}
<script> alert("{{error}}"); </script>
{% set error = None %}
{% endif %}
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<script>
function cheng_password_type() {
  let x = document.getElementById("password");
  let y = document.getElementById("eye");
  if (x.type === "password") {
    x.type = "text";
    y.src = "../static/imgs/hide-password-icon.png";
  } else {
    x.type = "password";
    y.src = "../static/imgs/show-password-icon.png";
  }
}
</script>
    <div id="register" class="auth">
        <form method="post">
            <div class="form">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <div id="password_container"><input type="password" name="password" id="password"><img id="eye" src="../static/imgs/show-password-icon.png" onclick="cheng_password_type()"></div>
                <input type="submit" value="Register">
            <a class="link_form" href="/auth/login">Log in</a>
            </div>
            <div class="form">
                <label for="first_name">First name</label>
            <input type="text" name="first_name" id="first_name">
            <label for="last_name">Last name</label>
            <input type="text" name="last_name" id="last_name">
                <label for="nickname">Nickname</label>
                <input type="text" name="nickname" id="nickname">


            </div>
        </form>

</body>
</html>